body{
    background-color: black;
    overflow: hidden;
}

.texto {
    position: relative;
    
    opacity: 1;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: italic 300px zorque;
	text-align: center;
	width: 40%;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 5px 5px 0 rgb(255,210,23) , 10px 10px 0 rgb(90,199,255) , 15px 15px 0 rgb(255,210,23) , 20px 20px 0 rgb(90,199,255);
    animation: anim 6s linear infinite;
}

@keyframes anim{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}